<%= simple_form_for @film do |f| %>
  <div class="form-group">
    <%= f.input :title, label: '电影名称', placeholder: '请输入电影标题，中英文皆可',input_html: { class: "form-control" } %>
    <%= f.input :description, label: '电影描述', placeholder: '请对电影做简要描述', input_html: { class: "from-control" } %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
